/*
The Ursus theme for The Lounge (GitHub: https://github.com/thelounge/lounge).
Based on the Zenburn theme by JP Smith (GitHub: https://github.com/japesinator) and the Morning theme by Riku Rouvila.

Installation instructions can be found here: 
https://thelounge.github.io/docs/server/configuration.html#themes

Author: Leroy Brown
GitHub: https://github.com/TheCapricious
*/

/* colour shit because this is how i work, yo'
PRIME: #37757f
SECONDARY: #3efeff
ACCENT: #ffe030
BACKGROUND: #282828

PRIME VARIENT: #4b828b
SECONDARY VARIENT: #51feff
ACCENT VARIENT: #ffe344
BACKGROUND VARIENT: #3d3d3d

PRIME DERIVATIVE: #2c5d65
SECONDARY DERIVATIVE: #31cbcc
ACCENT DERIVATIVE: #ccb326
BACKGROUND DERIVATIVE: #202020
*/

@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
	background: #282828;
	color: #37757f;
	font-family: Ubuntu, Verdana, "Open Sans", sans-serif;
}

#main,
#chat .sidebar,
#windows .chan,
#windows .window {
	background: #282828;
}

#windows .header .topic, 
#windows #form .input,
.messages .msg,
.sidebar {
	font-size: 13px;
	font-family: Ubuntu, Verdana, "Open Sans", sans-serif;
}

#settings,
#sign-in,
#connect .title {
	color: #37757f;
}

#settings .opt,
#sign-in .opt,
#connect .opt {
	color: #3efeff;
}

#settings .opt:hover,
#sign-in .opt:hover,
#connect .opt:hover {
	color: #a9a9a9;
}

#settings .input, 
#sign-in .input, 
#connect .input{
	background: #3d3d3d;
	color: #3efeff;
	border-color: #a9a9a9;
}

#settings .input:hover,
#sign-in .input:hover,
#connect .input:hover {
	background: rgba(44,93,101,.1);
}

#settings .input::-webkit-input-placeholder, 
#sign-in .input::-webkit-input-placeholder,
#connect .input::-webkit-input-placeholder {
	color: #a9a9a9;
}

#settings .btn {
	background: #3d3d3d;
	border-color: #3d3d3d;
	color: #a9a9a9;
}

#settings .btn:hover {
	background: rgba(44,93,101,.1);
	color: #ffe344;
}

select > option {
	background: #3d3d3d;
}

#sidebar,
#footer {
	background: rgba(28,28,28,.2);
	color: #ffe030;
}

#footer .icon:hover {
	color: #3efeff;
}

#sidebar .chan {
	background: rgba(55,117,127,.5);
	color: #37757f;
}

#sidebar .chan:hover {
	color: #a9a9a9;
}

#sidebar .chan .name {
	color: #3efeff;
}

#sidebar .chan .name:hover{
	color: #ffe030;
}

#sidebar .chan .name:after {
	background: rgba(55,117,127,0)
}

#sidebar .chan.lobby:before {
	color: #ffe030;
}

#chat .search, 
#chat .search::-webkit-input-placeholder,
#chat .count {
	background: rgba(28,28,28,.2);
	color: #ffe030;
}

#chat .user-mode:before {
	border-color: rgba(44,93,101,.1);
	border-bottom: 0px solid #282828;
	border-top: 1px solid;
	padding: 10px 0px 0px 5px;
	margin: 15px;
}

#chat .from, 
#chat .sidebar, 
#windows .header {
	border-color: #51feff;
}

#chat .user-mode {
	color: #ffe030;
}

#chat .user-mode.owner {
	color: #be0000;
}

#chat .user-mode.admin {
	color: #3f3ffe;
}

#chat .user-mode.op {
	color: #00bebe;
}

#chat .user-mode.half-op {
	color: #3ffefe;
}

#chat .user-mode.voice {
	color: #be00be;
}

#chat .user, 
#chat .user:hover {
	color: #ccb326;
}
 
#chat.colored-nicks .user.color-1 { color: #4c430e; }
#chat.colored-nicks .user.color-2 { color: #10f3f6; }
#chat.colored-nicks .user.color-3 { color: #316972; }
#chat.colored-nicks .user.color-4 { color: #5e9098; }
#chat.colored-nicks .user.color-5 { color: #afc7cb; }
#chat.colored-nicks .user.color-6 { color: #739ea5; }
#chat.colored-nicks .user.color-7 { color: #76c1c8; }
#chat.colored-nicks .user.color-8 { color: #87acb2; }
#chat.colored-nicks .user.color-9 { color: #71b6bc; }
#chat.colored-nicks .user.color-10 { color: #9bbabf; }
#chat.colored-nicks .user.color-11 { color: #6b9a9f; }
#chat.colored-nicks .user.color-12 { color: #b1feff; }
#chat.colored-nicks .user.color-13 { color: #665913; }
#chat.colored-nicks .user.color-14 { color: #37e4e5; }
#chat.colored-nicks .user.color-15 { color: #64feff; }
#chat.colored-nicks .user.color-16 { color: #fff2ac; }
#chat.colored-nicks .user.color-17 { color: #77feff; }
#chat.colored-nicks .user.color-18 { color: #2bb1b2; }
#chat.colored-nicks .user.color-19 { color: #8bfeff; }
#chat.colored-nicks .user.color-20 { color: #259899; }
#chat.colored-nicks .user.color-21 { color: #9efeff; }
#chat.colored-nicks .user.color-22 { color: #1f7f7f; }
#chat.colored-nicks .user.color-23 { color: #e5c92b; }
#chat.colored-nicks .user.color-24 { color: #ffe659; }
#chat.colored-nicks .user.color-25 { color: #b29c21; }
#chat.colored-nicks .user.color-26 { color: #ffe96e; }
#chat.colored-nicks .user.color-27 { color: #99861c; }
#chat.colored-nicks .user.color-28 { color: #ffef82; }
#chat.colored-nicks .user.color-29 { color: #7f7018; }
#chat.colored-nicks .user.color-30 { color: #ffef97; }
#chat.colored-nicks .user.color-31 { color: #16aeb2; }
#chat.colored-nicks .user.color-32 { color: #186566; }

#chat a {
	color: #ccb326;
}

#form {
	background: #282828;
	border-color: #51feff;
}

#windows #form .input {
	background-color: rgba(28,28,28,.1) !important;
	border-color: rgba(28,28,28,0) !important;
	color: #ffe030 !important;
}

#form #nick {
	background: #282828;
	color: #4b828b;
}

#form #submit:hover,
#chat button:hover {
	opacity:1;
	color: #3efeff;
}

#chat .show-more-button {
	background: #3d3d3d;
	border-color: rgba(81,254,255,.1);
	color: #3efeff;
}

#chat .show-more-button:hover {
	color: #ffe030;
}

#chat .header {
	color: #37757f;
}

#viewport .lt:after {
	border-color: #ffe030;
}

#chat .unread-marker {
	opacity: 1;
	border-size: 1px;
}

#chat .unread-marker:before{
	border-color: #ffe030 !important;
}

#chat .unread-marker-text:before {
	background-color: #282828;
	color: #3efeff;
}

#chat .date-marker-text:before {
	border-color: #2c5d65;
}

#chat .date-marker-text:before {
	background: #282828;
}

#chat .msg {
	color: #ffe344;
}

#chat .message {
	color: #bebebe;
}

#chat .self .time,
#chat .channel .highlight .time {
	color: #4b828b;
}

#chat .self {
	background: rgba(44,93,101,.2);
}

#chat .self .text {
	color: #31cbcc;
}

#chat .channel .highlight {
	background: rgba(44,93,101,.5);
}

#chat .channel .highlight .from,
#chat .channel .highlight .text {
	color: #ffe344;
}

#chat .error, 
#chat .error .from {
	background: #202020;
	color: #ffe030;
}

#chat .unhandled .from {
	color: #ffe030;
}

#chat .msg.topic {
	color: #3efeff;
}

#chat .msg.part .time, 
#chat .msg.part .from button,
#chat .msg.quit .time,
#chat .msg.quit .from button{
	color: #ccb326 !important;
}

#chat .msg.join .time,
#chat .msg.join .from button {
	color: #31cbcc !important;
}

#chat .part .from:before,
#chat .quit .from:before {
	color: #ccb326;
}

#chat .join .from:before {
	color: #31cbcc;
}

#chat .time {
	color: #2c5d65;
}

#chat .toggle-content,
#chat .toggle-button {
	background: rgba(44,93,101,.2);
	color: #3efeff;
}

#chat .toggle-content img {
	float: left;
	margin-right: .5em;
}

#chat .toggle-content .body {
	color: #3efeff;
}

#chat-container ::-webkit-input-placeholder {
	color: #99a2b4;
	opacity: .5;
}
